{% extends 'base.html' %}
{% block content %}
<div class="col-md-3 col-xs-3 sidebar">
  <ul class="nav nav-sidebar" id="sidebar">
	  {% raw %} {{ sidebar_content }} {% endraw %}
  </ul>
</div>
<div class="col-md-9 col-xs-9 col-xs-offset-3 col-md-offset-3">
  <div>
    <!-- Tab panes -->
    <div class="tab-content" id="all-content">
	    {% raw %} {{ tab_content }} {% endraw %}
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('a.navlink').click(function() {
    var tag_id=$(this).attr('data-target');
    $("[role=navlinkelement]").attr("class", ""); //deactivate all buttons
    $(this).parent().attr("class", "navlinkelement active"); //activate single button
    $(".tab-pane").attr("class", "tab-pane"); //deactivate all panes
    $(tag_id).attr("class", "tab-pane active"); //activate single pane
    $("#all-content").hide().fadeIn(500); //reload the page
  })
  $("[data-toggle=collapse]").click(function(){
    //console.log("toggled");
    var header_link_id=$(this).attr('header-link');
    if (header_link_id){
      $(".tab-pane").attr("class", "tab-pane"); //deactivate all panes
      $(header_link_id).attr("class", "tab-pane active"); //activate single pane
      $("[role=navlinkelement]").attr("class", ""); //deactivate all buttons
      $("#all-content").hide().fadeIn(500); //reload the page
    }
    var chevron_right = $(this).find(".fa-chevron-right");
    var chevron_down = $(this).find(".fa-chevron-down");
    if (chevron_down.length){
      //console.log("down pressed");
      chevron_down.removeClass("fa-chevron-down").addClass("fa-chevron-right");
    }
    else if (chevron_right.length){
      //console.log("right pressed");
      chevron_right.removeClass("fa-chevron-right").addClass("fa-chevron-down");
    }
    $(this).hide().show();
  });
});
</script>
{% endblock %}
